@font-face {
  font-family: 'Bricolage Grotesque';
  font-style: normal;
  font-weight: 300 800;
  font-stretch: 100%;
  font-display: swap;
  src: url(/new/fonts/bricolage-grotesque-300-800.woff2) format('woff2');
  }
/* cyrillic-ext */

@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400 600;
  font-display: swap;
  src: url(/new/fonts/inter-400-600.woff2) format('woff2');
  }
/* cyrillic-ext */

@font-face {
  font-family: 'JetBrains Mono';
  font-style: normal;
  font-weight: 400 600;
  font-display: swap;
  src: url(/new/fonts/jetbrains-mono-400-600.woff2) format('woff2');
  }
